.one {

    .main {
        font-size: 40px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        font-family: Libre Baskerville, serif;
        color: #000;
        line-height: 1.2;
    }

    .switch {
        display: flex;
        justify-content: center;

        .first {
            color: #666;
            font-size: 14px;
            cursor: pointer;
            line-height: 22px;
            font-family: Inter, sans-serif;
            font-weight: 400;
            line-height: 1.5;

            &:hover {
                color: #bd9855;
            }
        }

        i {
            color: #666;
            font-size: 10px;
            padding-top: 6px;
            margin-left: 14px;
        }

        .select {
            color: #000;
            font-size: 14px;
            cursor: pointer;
            line-height: 22px;
            font-family: Inter, sans-serif;
            font-weight: 500;
            line-height: 1.5;
            padding-left: 14px;
        }
    }
}

.two {
    margin-top: 0 !important;

    .filt {
        margin-top: 40px;

        form {
            position: relative;

            .search {
                display: flex;
                align-items: center;
                position: absolute;

                input {
                    width: 346px;
                    height: 60px;
                    outline: none;
                    border: none;
                    border-radius: 0;
                    background-color: white;
                    padding-left: 10px;
                    color: #666;
                    font-family: Inter, sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                    border: 1px solid #dddddd;
                }

                input:focus {
                    border: 2px solid;
                }
            }

            i {
                position: absolute;
                width: 20px;
                height: 30px;
                font-size: 20px;
                margin-top: 20px;
                margin-left: 310px;
                background-color: #fff;
            }
        }

        .namefilt {
            font-size: 26px;
            font-weight: 500;
            font-family: Libre Baskerville, serif;
            line-height: 1.2;
            color: #000;
            padding-top: 110px;
        }

        .aparts {
            padding: 0;
            margin-top: 30px;

            .firstapart {
                display: block;
                cursor: pointer;
                color: #bd9855;
                font-family: Inter, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                padding-bottom: 10px;

                &:hover {
                    color: #bd9855 !important;
                }
            }

            .apart {
                padding-bottom: 10px;
                display: block;
                cursor: pointer;
                color: #666;
                font-family: Inter, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                padding-bottom: 10px;

                &:hover {
                    color: #bd9855 !important;
                }
            }
        }

        .postfilt {
            font-size: 26px;
            font-weight: 500;
            font-family: Libre Baskerville, serif;
            line-height: 1.2;
            color: #000;
            padding-top: 40px;
        }

        .inblg {

            .inbl {
                display: flex;
                padding: 20px 0;

                img {
                    width: 64px;
                    height: 64px;
                }

                .in {
                    margin-left: 10px;

                    .new {
                        color: #666;
                        letter-spacing: 5px;
                        cursor: pointer;
                        font-family: Inter, sans-serif;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 1.5;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            color: #bd9855;
                        }
                    }

                    .title {
                        color: #000;
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 1.3;
                        font-family: Inter, sans-serif;
                        font-weight: 500;
                        text-decoration: none;

                        &:hover {
                            color: #bd9855;
                        }
                    }
                }
            }

            .oth{
                border-top: 1px solid #dddddd;
            }
        }

        .tags {
            padding: 0;

            li {
                display: inline;
                width: 65px;
                height: 31px;
                color: #666;
                background-color: white;
                border: 1px solid #e4e4e4;
                padding: 6px 20px;
                font-weight: 400;
                line-height: 18px;
                font-size: 14px;
                cursor: pointer;
                font-family: Inter, sans-serif;

                &:hover {
                    color: white;
                    background-color: #bd9855;
                }
            }
        }
    }

    .blg {
        padding-left: 80px;

        .new {
            margin-top: 40px;

            .photo {
                position: relative;
                margin-bottom: 20px;

                a {

                    img {
                        width: 1030px;
                        height: 653px;
                    }
                }

                .date {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: rgba(189, 152, 85, .4);
                    padding-left: 22px;
                    padding-top: 16px;

                    .num {
                        font-size: 25px;
                        font-weight: 500;
                        line-height: 30px;
                        font-family: Inter, sans-serif;
                        color: #fff;
                        height: 0;
                        padding-left: 14px;
                    }

                    .month {
                        font-size: 25px;
                        font-weight: 500;
                        line-height: 30px;
                        font-family: Inter, sans-serif;
                        color: #fff;
                        height: 0;
                        padding-top: 15px;
                    }
                }
            }

            .about {
                color: #666;
                letter-spacing: 5px;
                cursor: pointer;
                font-family: Inter, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                text-decoration: none;
                display: block;
                margin-bottom: 10px;

                &:hover {
                    color: #bd9855;
                }
            }

            .title {
                color: #000;
                cursor: pointer;
                font-size: 24px;
                line-height: 1.3;
                font-family: Libre Baskerville, serif;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    color: #bd9855;
                }
            }

            .description {
                color: #666;
                font-family: Inter, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                padding-top: 6px;
            }

            .blog {
                display: inline-block;
                position: relative;
                padding: 20px 60px;
                border: 1px solid #dddddd;
                line-height: 20px;
                font-weight: 500;
                cursor: pointer;

                a {
                    font-family: Inter, sans-serif;
                    font-size: 14px;
                    text-decoration: none;
                    color: #000;
                }

                &:hover {
                    background-color: #bd9855;
                    border-color: #bd9855;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 30px !important;
}