@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@600&family=Dancing+Script:wght@400;500&family=Pacifico&family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@600&family=Dancing+Script:wght@400;500&family=Inter&family=Pacifico&family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1480px;
    margin: auto;
}

.one {
    margin: 20px 0;

    .switch {
        display: flex;

        .first {
            color: #666;
            font-size: 14px;
            cursor: pointer;
            line-height: 22px;
            font-family: Inter, sans-serif;
            font-weight: 400;
            line-height: 1.5;

            &:hover {
                color: #bd9855;
            }
        }

        .second {
            color: #666;
            font-size: 14px;
            cursor: pointer;
            line-height: 22px;
            font-family: Inter, sans-serif;
            font-weight: 400;
            line-height: 1.5;
            padding-left: 14px;

            &:hover {
                color: #bd9855;
            }
        }

        i {
            color: #666;
            font-size: 10px;
            padding-top: 6px;
            margin-left: 14px;
        }

        .select {
            color: #000;
            font-size: 14px;
            cursor: pointer;
            line-height: 22px;
            font-family: Inter, sans-serif;
            font-weight: 500;
            line-height: 1.5;
            padding-left: 14px;
        }
    }
}

.two {
    margin-top: 0 !important;

    .picture {
        display: flex;
        position: relative;

        .otherpic {

            .photo1 {
                width: 120px;
                height: 140px;
                margin-bottom: 82.6px;
                opacity: 0.3;

                &:hover {
                    opacity: 1;
                }
            }

            .photo2 {
                width: 120px;
                height: 140px;
                margin-bottom: 82.6px;

                &:hover {
                    opacity: 1;
                }
            }

            .photo3 {
                width: 120px;
                height: 140px;
                margin-bottom: 82.6px;
                opacity: 0.3;

                &:hover {
                    opacity: 1;
                }
            }

            .photo4 {
                width: 120px;
                height: 140px;
                opacity: 0.3;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .here {

            .slc {
                height: 808px;
                width: 673px;
            }

            .percent {
                background: #fff;
                font-size: 13px;
                color: #000;
                position: absolute;
                font-weight: 500;
                width: 65px;
                height: 25px;
                z-index: 1;
                padding-left: 15px;
                padding-top: 2px;
                right: 30px;
                bottom: 750px;
            }
        }
    }

    .about {
        margin-left: 60px;

        .general {
            display: flex;
            justify-content: space-between;

            .titles {

                .family {
                    color: #666;
                    font-family: Inter, sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                    height: 0;
                    text-transform: uppercase;

                    &:hover {
                        color: #bd9855;
                    }
                }

                .select {
                    padding-top: 10px;
                    font-family: Libre Baskerville, serif;
                    color: #000;
                    font-size: 26px;
                    height: 0;
                }
            }

            .heart {
                color: #000;
                padding-left: 13px;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                line-height: 43px;
                border: 1px solid #e6e6e6;


                &:hover {
                    color: white;
                    background-color: #bd9855;
                }
            }
        }

        .firfloor {
            display: flex;
            margin-top: 20px;

            .st {
                color: #c6c6c6;
                display: inline;
                cursor: pointer;
                font-size: 8px;
            }

            .reviews {
                color: #666;
                padding-left: 5px;
                padding-top: 5px;
                font-size: 14px;
            }
        }

        .price {
            display: flex;

            .discount {
                line-height: 100%;
                font-weight: 600;
                color: #666;
                font-family: Inter, sans-serif;
                text-decoration: line-through;
                padding-top: 8px;
            }

            .count {
                line-height: 100%;
                font-family: Inter, sans-serif;
                font-weight: 600;
                color: #ff0000;
                font-size: 25px;
                padding-left: 10px;
            }
        }

        .text {
            font-family: Inter, sans-serif;
            font-weight: 400;
            line-height: 1.5;
        }

        .line {
            height: 1px;
            background: #e7e7e7;
        }

        .check {
            display: flex;
            margin-top: 10px;

            i {
                font-size: 14px;
                color: rgb(31, 150, 31);
                margin-top: 5px;
            }

            p {
                font-family: Inter, sans-serif;
                font-weight: 400;
                line-height: 1.5;
                color: rgb(31, 150, 31);
                padding-left: 10px;
            }
        }

        .see {
            display: flex;

            i {
                font-size: 16px;
                color: #000;
                margin-top: 5px;
            }

            p {
                color: #000;
                font-weight: 600;
                font-family: Inter, sans-serif;
                line-height: 1.5;
                padding-left: 10px;
            }
        }

        .fire {
            display: flex;

            i {
                font-size: 20px;
                color: #f11e1e;
                margin-top: 5px;
            }

            p {
                color: #f11e1e;
                font-weight: 500;
                font-family: Inter, sans-serif;
                font-size: 14px;
                line-height: 1.5;
                padding-left: 10px;
                padding-top: 6px;
            }
        }

        .stock {
            color: #000;
            font-weight: 600;
            font-family: Inter, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            padding-top: 20px;
            margin: 0;

            span {
                color: #f11e1e;
                font-weight: 600;
                font-family: Inter, sans-serif;
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }

    .adbtn {

        .count {
            display: flex;
            border: 1px solid rgb(200, 199, 199);
            width: 193px;
            height: 48px;
            margin-top: 10px;
        }

        .count button:nth-child(1) {
            width: 55px;
            height: 46px;
            font-size: 20px;
            background-color: white;
            border: none;
            border-right: 1px solid rgb(200, 199, 199);
            color: rgb(0, 0, 0);
        }

        .count button:nth-child(1):hover {
            background-color: black;
            color: white;
            border-radius: 7px;
            filter: brightness(1.10);
            transition: all .5s;
        }

        .count button:nth-child(3) {
            width: 55px;
            height: 46px;
            font-size: 20px;
            background-color: white;
            border: none;
            border-left: 1px solid rgb(200, 199, 199);
            color: #000;
            border-radius: 7px;
            filter: brightness(1.10);
            transition: all .5s;
        }

        .count button:nth-child(3):hover {
            background-color: black;
            color: white;
            border-radius: 7px;
        }

        .count h2 {
            color: #000;
            margin: 10px 50px;
            margin-top: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        #add {
            width: 400px;
            height: 48px;
            background-color: #000;
            color: white;
            margin-left: 10px;
            margin-top: 10px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .buy {
        margin-top: 10px;
        background-color: white;
        font-size: 14px;
        line-height: 48px;
        height: 50px;
        padding: 0 15px;
        cursor: pointer;
        width: 100%;
        font-weight: 500;
        border: 1px solid #00000040;
        color: #6c757dc9;
    }

    .deliver {
        display: flex;
        margin-top: 80px;

        i {
            font-size: 18px;
            color: #000;
            padding-top: 3px;
        }

        .delivery {
            font-size: 14px;
            font-family: Libre Baskerville, serif;
            font-weight: 500;
            color: #000;
            line-height: 1.2;
            padding-left: 10px;
            padding-top: 3px;
        }

        .intext {
            color: #666;
            font-family: Inter, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;
            padding-left: 20px;

            span {
                font-weight: 600;
                text-decoration: underline;
                color: #000;
            }
        }
    }

    .bank {
        width: 505px;
        height: 136px;
        position: relative;
        background-color: #eceaeac1;

        img {
            width: 432px;
            object-fit: contain;
            position: absolute;
            margin-top: 30px;
            margin-left: 30px;
        }

        .secure {
            position: absolute;
            color: #000;
            letter-spacing: 1px;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            padding-top: 80px;
            padding-left: 125px;
        }
    }
}

.three {

    .select {

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;

            .firstapart {
                display: inline;
                cursor: pointer;
                color: black;
                padding-bottom: 10px;
                font-size: 23px;
                font-family: Libre Baskerville, serif;
                cursor: pointer;
                font-weight: 400;
                line-height: 1.5;

                &:hover {
                    color: #000;
                }
            }

            .apart {
                display: inline;
                cursor: pointer;
                color: grey;
                padding-left: 40px;
                padding-bottom: 10px;
                font-size: 23px;
                color: #666;
                font-family: Libre Baskerville, serif;
                cursor: pointer;
                font-weight: 400;
                line-height: 1.5;

                &:hover {
                    color: #000;
                }
            }
        }

        .line {
            height: 1px;
            background: #e7e7e7;

            .underline {
                width: 155px;
                height: 1px;
                background-color: #000;
                transition: all 0.5s;
                margin-left: 480px;
            }
        }
    }

    .subsection {
        padding-top: 50px;

        .secone {

            p {
                padding-left: 160px;
                width: 1310px;
                color: #666;
                font-size: 15px;
            }
        }

        .sectwo {
            margin-left: 160px;

            .now {
                display: flex;
                justify-content: space-between;

                .sentence {

                    .customer {
                        font-size: 34px;
                        font-family: Libre Baskerville, serif;
                        font-weight: 500;
                        color: #000;
                    }

                    .yet {
                        line-height: 2em;
                        color: #666;
                        background-color: #fff;
                        font-family: Inter, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                button {
                    width: 200px;
                    height: 45px;
                    color: #000;
                    font-size: 12px;
                    border: 1px solid black;
                    background-color: white;
                    line-height: 43px;
                    padding: 0 50px;
                    font-weight: 500;
                    font-family: Inter, sans-serif;
                    margin-top: 45px;
                    margin-right: 160px;
                    cursor: pointer;

                    &:hover {
                        background-color: #bd9855;
                        color: white;
                        border: none;
                    }
                }
            }

            .getin {
                margin-top: 50px;

                #fir,
                #last {
                    padding: 14px 20px;
                    border: 1px solid #d6d6d6;
                    height: 60px;
                    font-weight: 400;
                    font-size: inherit;
                    width: 570px;
                    height: 60px;
                }

                #last {
                    margin-left: 25px;
                }

                .fr {
                    color: #000;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    padding: 0 !important;
                }

                .ls {
                    color: #000;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    padding-left: 560px;
                }

                .firfloor {
                    display: flex;
                    padding-top: 10px;

                    .stars1 {
                        display: inline;
                        padding-left: 10px;

                        .st {
                            cursor: pointer;
                            font-size: 12px;
                            color: rgb(239, 239, 53);
                        }
                    }

                    .stars2 {
                        display: inline;

                        .st {
                            cursor: pointer;
                            font-size: 12px;
                            color: rgb(239, 239, 53);
                        }
                    }

                    .stars3 {
                        display: inline;

                        .st {
                            cursor: pointer;
                            font-size: 12px;
                            color: rgb(239, 239, 53);
                        }
                    }

                    .stars4 {
                        display: inline;

                        .st {
                            cursor: pointer;
                            font-size: 12px;
                            color: rgb(239, 239, 53);
                        }
                    }

                    .stars5 {
                        display: inline;

                        .st {
                            cursor: pointer;
                            font-size: 12px;
                            color: rgb(239, 239, 53);
                        }
                    }

                    .stars6 {
                        display: inline;

                        .st {
                            cursor: pointer;
                            font-size: 12px;
                            color: rgb(239, 239, 53);
                        }
                    }

                    .reviews {
                        color: #000;
                        font-size: 14px;
                        line-height: 20px;
                        font-family: Inter, sans-serif;
                        font-weight: 400;
                        padding-top: 2px;
                    }
                }

                #dis {
                    padding: 14px 20px;
                    border: 1px solid #d6d6d6;
                    height: 60px;
                    font-weight: 400;
                    width: 1170px;
                }

                .ds {
                    color: #000;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    padding: 0 !important;
                }

                #mes {
                    padding-left: 20px;
                    width: 1170px;
                    height: 240px;
                    border: 1px solid #d6d6d6;
                    font-weight: 400;
                    padding-top: 10px;
                }

                .mess {
                    color: #000;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    padding: 20px 0 0 0 !important;
                }

                .snd {
                    margin-left: 480px;
                    margin-top: 40px;
                    padding: 20px 50px;
    height: 60px;
    border: 2px solid black;
    color: #000;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 14px;

    &:hover{
        background-color: #bd9855;
        border: none;
        color: white;
    }
                }

                .subjc {
                    flex-direction: column;
                }

                .mss {
                    flex-direction: column;
                }
            }
        }

        .secthr {
            margin-left: 160px;

            p {
                font-size: 15px;
            }
        }

        .secfou {
            margin-left: 160px;

            p {
                color: #666;
                font-size: 15px;
            }

            ul {

                li {
                    color: #666;
                    font-size: 15px;
                }
            }
        }
    }
}

.four {

    .line {
        height: 1px;
        background: #e7e7e7;
    }

    .like {

        p {
            display: flex;
            justify-content: center;
            font-size: 27px;
            color: #000;
            font-weight: 530;
            font-family: Libre Baskerville, serif;
            line-height: 1.2;
            padding-top: 60px;
        }
    }

    .cards {
        display: flex;
        margin-left: 190px;
        margin-top: 30px;

        .card {
            border: none;

            .photo {
                position: relative;
                height: 400px;
                width: 350px;
                overflow: hidden;

                img {
                    position: absolute;
                    background: transparent;
                    height: 400px;
                    width: 100%;
                    object-fit: contain;
                    border-radius: 0;
                }

                .add {

                    p {
                        opacity: 0;
                        background-color: rgb(29, 29, 29);
                        color: white;
                        position: absolute;
                        width: 95.5%;
                        height: 60px;
                        bottom: -60px;
                        left: 8px;
                        margin: 0;
                        padding-left: 130px;
                        padding-top: 19px;
                        font-size: 14px;
                        transition: all 0.5s;
                    }

                    &:hover {
                        p {
                            background-color: #bd9855;
                        }
                    }
                }
            }

            .percent {
                background: #fff;
                font-size: 13px;
                color: #000;
                position: absolute;
                font-weight: 500;
                width: 65px;
                height: 25px;
                z-index: 1;
                margin-left: 20px;
                margin-top: 15px;
                padding-left: 15px;
                padding-top: 2px;
            }

            .heart {
                color: #000;
                background-color: white;
                transition: all 0.5s;
                cursor: pointer;
                position: absolute;
                font-size: 20px;
                top: 15px;
                right: 25px;
                width: 40px;
                height: 40px;
                padding-left: 10px;
                padding-top: 10px;

                &:hover {
                    color: white;
                    background-color: #bd9855;
                }
            }

            .arrow {
                color: #000;
                background-color: white;
                transition: all 0.5s;
                cursor: pointer;
                position: absolute;
                font-size: 20px;
                top: 65px;
                right: 25px;
                width: 40px;
                height: 40px;
                padding-left: 10px;
                padding-top: 10px;

                &:hover {
                    color: white;
                    background-color: #bd9855;
                }
            }

            .glass {
                color: #000;
                background-color: white;
                transition: all 0.5s;
                cursor: pointer;
                position: absolute;
                font-size: 20px;
                top: 115px;
                right: 25px;
                width: 40px;
                height: 40px;
                padding-left: 10px;
                padding-top: 10px;

                &:hover {
                    color: white;
                    background-color: #bd9855;
                }
            }

            .timer {
                position: absolute;
                display: flex;
                margin-top: 80px;
                margin-left: 63px;

                .times {
                    width: 55px;
                    height: 55px;
                    background-color: white;
                    margin-top: 260px;

                    span {
                        font-family: Inter, sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        padding-left: 13px;
                    }

                    p {
                        font-family: Inter, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #6d7784;
                        padding-left: 9px;
                    }
                }

                .timesec {
                    width: 55px;
                    height: 55px;
                    background-color: white;
                    margin-top: 260px;
                    margin-left: 5px;

                    span {
                        font-family: Inter, sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        padding-left: 19px;
                    }

                    p {
                        font-family: Inter, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #6d7784;
                        padding-left: 9px;
                    }
                }
            }

            &:hover {
                .heart {
                    display: inline !important;
                }

                .arrow {
                    display: inline !important;
                }

                .glass {
                    display: inline !important;
                }

                .timer {
                    display: none !important;
                }

                .add {

                    p {
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }

            .firfloor {
                display: flex;
                margin-top: 20px;
                margin-left: 90px;

                .st {
                    color: #c6c6c6;
                    display: inline;
                    cursor: pointer;
                    font-size: 8px;
                }

                .reviews {
                    color: #666;
                    padding-left: 5px;
                    padding-top: 5px;
                    font-size: 14px;
                }
            }

            .title {
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                padding-left: 80px;
                height: 0;

                &:hover {
                    color: #bd9855;
                }
            }

            .title4 {
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                padding-left: 100px;
                height: 0;

                &:hover {
                    color: #bd9855;
                }
            }

            .title5 {
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                padding-left: 62px;
                height: 0;

                &:hover {
                    color: #bd9855;
                }
            }

            .price {
                color: #bd9855;
                padding-left: 130px;
                padding-top: 10px;
                font-size: 18px;
                font-weight: 500;
            }

            .diswithpri {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 55px;

                .discount {
                    height: 0;
                    font-size: 15px;
                    color: #796b6b;
                    text-decoration: line-through;
                    padding-bottom: 10px;
                    padding-left: 10px;
                }

                .pricewith {
                    color: #bd9855;
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: 500;
                    padding-left: 5px;
                }
            }
        }

        .ctwo {
            margin-left: 70px;
        }

        .cthr {
            margin-left: 70px;
        }
    }

    .recent {

        p {
            display: flex;
            justify-content: center;
            font-size: 27px;
            color: #000;
            font-weight: 530;
            font-family: Libre Baskerville, serif;
            line-height: 1.2;
            padding-top: 60px;
        }
    }
}

footer {
    margin-top: 30px !important;
}